* {
    box-sizing: border-box;
}

/* TEXTS */
body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0px;
}

/* INPUT */
input {
    border: transparent;
    box-shadow: none;
}

.ottr-strikebox input:checked ~ span {
    text-decoration: line-through;
}

/* BUTTONS */
button {
    border: none;
    cursor: pointer;
}

/* IMAGES */
img {
    pointer-events: none;
    user-select: none;
    object-fit: contain;
}

/* GRID */
.ottr-col,
.ottr-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.ottr-row.reverse {
    flex-direction: row-reverse;
}

.ottr-col {
    flex-direction: column;
}

.ottr-col.reverse {
    flex-direction: column-reverse;
}

.no-wrap {
    flex-wrap: nowrap;
}

/* POINTERS */
.hover-pointer:hover {
    cursor: pointer;
}

.hover-disabled:hover {
    cursor: not-allowed;
}

.no-pointer:hover {
    pointer-events: none;
}

/* DISPLAY */
.hidden {
    display: none;
}